.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
.staus-bar__column {
  width: 33%;
}
.staus-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.staus-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.staus-bar__column:first-child span {
  margin-right: 5px;
}

.staus-bar__column .fa-battery-full {
  margin: 0px 5px;
}
