.user-component {
  display: flex;
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
  background-image: url("https://wl-brightside.cf.tsp.li/resize/728x/jpg/e54/e78/30a24451a8ba30d37a3dfa888c.jpg");
}

.user-component__title {
  width: 100px;
  font-weight: 600;
  font-size: 18px;
}

.user-component__subtitle {
  margin-top: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  background-size: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  background-size: 60px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 5px;
  display: block;
}

.user-component__phone {
  display: flex;
}

.user-component__phone h6 {
  display: block;
}

.user-component__phone i {
  display: block;
  margin-left: 10px;
  position: relative;
  top: 8px;
  color: tomato;
}
